.profile-main2 {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  color: white;
}

.profile-main2-part1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.user-info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}

.user-info img {
  max-width: 120px;
  max-height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
}

.user-movie {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
  color: white;
  filter: opacity(0);
  transition: 2s ease-in-out;
}

.submain3:hover .submain3-part1-sub2 {
  filter: blur(4px);
}

.submain3:hover .submain3-part1-sub1 {
  filter: blur(4px);
}

.submain3:hover .change {
  filter: blur(4px);
}

.submain3-part1:hover .heading {
  filter: opacity(1);
}
