@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap";

@import "./styling/MainPage.css";
@import "./styling/Section.css";
@import "./styling/Content.css";
@import "./styling/Footer.css";
@import "./styling/Header.css";
@import "./styling/Moviepage.css";
@import "./styling/MovieContent.css";
@import "./styling/MovieForm.css";

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: #1b1b1b;
}

* {
  box-sizing: border-box;
}
