@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap";

@import "./styling/MainPage.css";
@import "./styling/Section.css";
@import "./styling/Content.css";
@import "./styling/Footer.css";
@import "./styling/Header.css";
@import "./styling/Moviepage.css";
@import "./styling/MovieContent.css";
@import "./styling/MovieForm.css";
@import "./styling/Profile.css";

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: #141111;
}

* {
  box-sizing: border-box;
}

/*** Scrollbar ***/

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
